<!DOCTYPE html>
<html ng-app="BunkinNewsFeed">
  <head>
    <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
           <link href="css/ionic.css" rel="stylesheet">
            <script src="js/ionic.bundle.js"></script>
        <link rel="stylesheet" type="text/css" href="css/feed.css" />
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <title>Bunkin'</title>

    <!-- Bootstrap -->
  

    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
  </head>



  <body ng-controller="newsFeedCtrl">


<div class="navigation">
   <div class="bar bar-header navBar">
        <h1 class="title">Bunkin</h1>
    </div>
</div>

<div class="bunkinFeed">

<div class="card feedCard">

  <div class="feedHeader">
    <div class="row" >
      
      <div class="col col-80">
      <!--UserDetails-->
        <div class="row">
          <div class="userImg" >
            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10552465_10204647240963910_7839219630017533136_n.jpg?oh=739cd434af86b4bf456e09329e255b97&oe=5465C728&__gda__=1417606989_6c3c7eaf542d2b8fd4165f57b72fe78f">
          </div>
          <div class="userNameDate" >
            <h5>Jaswanth Yella</h5>
            <p class="ion-ios7-clock-outline"> 2hrs</p>
          </div>
        </div>
      </div> <!--End of UserDetails-->

      <div class="col col-20 emoticons">
        <div class="emoji">
          <h4></h4>
        </div>
      </div>
    </div>
  </div> <!--End of FeedHeader -->

    <div class="content">
        <div class="col-90 statusTxt" >
          <h5>A great day. A great game. GameOfThrones <i>-with</i> <span>Abhijeet Reddy, Nikhil, Shravan, Vinay</span></h5>
        </div>
        <div class="statusImg">
          <img src="img/tr.jpg">
        </div>
    </div>   <!--End of content -->

    
        <div class="row statusResponse">
            <div class="col-20">
              <i ng-class="{true: 'ion-ios7-heart-outline', false: 'ion-heart'}[isFavActive]" ng-click="toggleActive()"> <span>{{favCount+incrFav}}</span></i>
            </div>

             <div class="col-20">
              <i ng-class="{true: 'ion-ios7-chatbubble-outline', false: 'ion-ios7-chatbubble'}[isCommentActive]" ng-click="toggleCommentActive()"> <span>{{commentCount+incrComm}}</span></i>
            </div>
        </div>  
        
        <div ng-show="showComments" class="comments">
          <hr />
            <div class="row comment">
              
                <div class="col-20 userImg" >
                  <img src="https://scontent-b-cdg.xx.fbcdn.net/hphotos-xpa1/t31.0-8/s960x960/10476408_10203512439464085_2818086165259234686_o.jpg">
                </div>
                <div class="col-80 userCmt" >                                
                  <h5>Abhijeet Reddy</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>


                <div class="cmtActions">
                  <div class="row">
                        <i class="col-20" ng-class="{true: 'ion-ios7-heart-outline', false: 'ion-heart'}[isFavActive]" ng-click="toggleActive()"> <span>{{favCount+incrFav}}</span></i> 

                        <a><i class="ion-trash-b"></i></a>

                  </div>
                </div>
                </div>
            </div>

            <div class="writeComment" >
              
              <div class="row write"> 
                  <div class="col-20 userImg" >
                    <img src="https://scontent-b-cdg.xx.fbcdn.net/hphotos-xpa1/t31.0-8/s960x960/10476408_10203512439464085_2818086165259234686_o.jpg">
                </div>
                  <div class="col-80">
                  <div  class="row" >               
                    <textarea type="text" placeholder="Write Comment"></textarea>
                    <i class="ion-paper-airplane"></i>
                  </div>
                  </div>

              </div>

            </div>

        </div> <!--End of Comments -->


</div>


</div>

<<div class="tabs">
  <a class="tab-item">
    Home
  </a>
  <a class="tab-item" href="Search.html">
    Search
  </a>

</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html>